.about-us-main {
    padding: 20px 50px;
}

.about-us-img {
    text-align: center;
    width: 1080px;
    height: 400px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p1 {
    font-weight: 600;
    font-style: italic;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p2 {
    width: 1080px;
    line-height: 30px;
    font-size: small;
    color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}