.about-us-main {
    padding: 20px 50px;
    width: 900px;
}

.about-us-img {
    text-align: center;
    width: 900px;
    height: 400px;
}

.abt-us {
    margin: 5px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p1 {
    margin: 15px 0px;
    font-weight: 600;
    font-style: italic;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p2 {
    line-height: 30px;
    font-size: small;
    color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}