.contact-us-main {
    padding: 30px 50px;
    height: 500px;
}

h2 {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text {
    width: 700px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
    line-height: 30px;
}

.a1 {
    color: green;
}

.a2 {
    font-weight: 550;
}

.feedback-btn {
    border-radius: 20px;
    padding: 5px;
    margin: 7px 20px;
    background-color: white;
    height: 35px;
    width: 125px;
}

.feedback-btn:hover {
    border: 2px solid black;
    color: black;
    background: rgba(165, 42, 42, 0.5);
}

.a3 {
    color: black;
    text-decoration: none;
}