.feedback {
    width: 100%;
    max-width: 780px;
    background: #fff;
    margin: 10px auto;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.input-control input,
.text-control textarea {
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    padding: 12px 20px;
    margin: 4px 0;
    width: 100%;
}

.input-control input:focus,
.text-control textarea:focus {
    outline: 0;
}

.input-control.success input,
.text-control.success textarea {
    border-color: #09c372;
}

.input-control.error input,
.text-control.error textarea {
    border-color: #ff3860;
}

.input-control .error,
.text-control .error {
    color: #ff3860;
    font-size: 11px;
    height: 15px;
}

#form button {
    background: #43a7d5;
    color: #fff;
    padding: 12px;
    margin: 15px 0px;
    border: 0;
    width: 100%;
    border-radius: 4px;
}