#item-menu {
    display: grid;
    gap: 10px;
    width: 100%;
    margin: 0px;
    grid-template-columns: repeat(3, auto);
}

#item {
    text-align: center;
    justify-content: center;
    margin: 10px;
    padding: 10px 80px;
    width: 250px;
}

.item-image {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid grey;
}

.item-title {
    color: darkslategray;
    padding: 5px;
    width: 200px;
    font-weight: 500;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-text {
    padding: 5px;
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-btn {
    border-radius: 20px;
    margin: 0px 30px;
    padding: 2px;
    background-color: white;
    height: 35px;
    width: 140px;
}

.menu-btn:hover {
    border: 2px solid black;
    color: black;
    background: rgba(165, 42, 42, 0.5);
}